* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/background.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}
header .logo img {
  float: left;
  width: 125px;
  height: auto;
}
/* Header and Body Css sttarts here */
.main ul {
  float: right;
  margin-top: 25px;
}
.main ul li {
  text-decoration: none;
  list-style-type: none;
  display: inline-block;
}
.main ul li a {
  text-decoration: none;
  cursor: pointer;
  padding: 5px 20px;
  border: 1px solid transparent;
  color: #fff;
  transition: 0.6s ease;
}

.main ul li a:hover {
  background-color: #fff;
  color: #000;
}
.main {
  max-width: 1800px;
  margin: auto;
}
.title {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.title h1 {
  color: #ffca7a;
  font-size: 50px;
  text-align: center;
}

.text {
  position: absolute;
  top: 55%;
  left: 50%;
}
.text p {
  color: beige;
  font-size: 18px;
  justify-content: left;
}
.clip img {
  width: 300px;
  height: auto;
  position: absolute;
  top: 17%;
  left: 35%;
}
.decoration {
  color: #8eb0b3;
}
.btn {
  padding: 0.8rem 3rem;
  font-size: 1rem;
  font-weight: 600;
  border: 2px solid transparent;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s ease;
  border-radius: 4em 4em / 4em;
  position: absolute;
}
.btn-primary {
  top: 50%;
  left: 45%;
  background: #fdfa66;
  color: #000;
}
.btn-secondary {
  top: 70%;
  left: 55%;
}
.btn:hover {
  background-color: rgba(255, 142, 108, 0.5);
  color: #fff;
}
.title h2 {
  font-size: 25px;
  text-align: center;
  color: #fff;
}
.dec-last {
  color: aqua;
}
/* Body css ends here  */

/* Footer starts hrer */
.footer {
  position: absolute;
  top: 90%;
  left: 85%;
}
.footer .socail {
  display: flex;
  align-items: center;
}
.footer .social ul {
  list-style-type: none;
  display: inline;
}
.footer .social li {
  display: inline;
}
.footer .social li a {
  text-decoration: none;
  cursor: pointer;
  padding-right: 10px;
  transition: 0.6s ease;
}
.footer .social ul li img {
  width: 35px;
}
.footer .social li a:hover {
  padding: 5px;
  border-radius: 50%;
  color: #8eb0b3;
}
.footer .designed h3 {
  font-size: 12px;
  color: #fff;
  text-align: center;
}
.footer .designed {
  align-items: center;
}
/* Footer ends here */
/* Here Contact Page csss starts */
.contact {
  position: relative;
  min-height: 80vh;
  padding: 80px, 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
}
.contact .content {
  max-width: 1000px;
  text-align: center;
}
.contact .content h2 {
  font-size: 36px;
  font-weight: 500;
  color: #fff;
}
.contact .content p {
  font-weight: 300;
  color: #fff;
}
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.container .contactInfo {
  width: 40%;
  display: flex;
  flex-direction: column;
}
.container .contactInfo .box {
  padding: 20px 0;
  display: flex;
}
.container .contactInfo .box .icon,
.container .contactInfo .box .icon img {
  min-width: 50px;
  height: 60px;

  justify-content: center;
  align-items: center;

  font-size: 22px;
}
.container .contactInfo .box .text1 {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #fff;
  flex-direction: column;
  font-weight: 300;
}
.container .contactInfo .box .text1 h3 {
  font-weight: 500;
  color: #00bcd4;
}
.contactForm {
  width: 20%;
  padding: 40px;
  background: #fff;
}
.contactForm h2 {
  font-size: 30px;
  color: #333;
  font-weight: 500;
}
.contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}
.contactForm .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox textarea:focus ~ span {
  color: #e91e63;
  font-size: 12px;
  transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"] {
  width: 100px;
  background: #00bcd4;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}
/* Contact page css ends
 */
/* CV page css starts here */
.cvphoto {
  position: absolute;
  top: 15%;
  left: 43%;
  align-items: center;
  max-width: 100%;
  max-height: 800px;
  text-align: center;
}
.cvphototexts {
  position: absolute;
  top: 45%;
  left: 40%;
  align-items: center;
  max-width: 100%;
  max-height: 800px;
  text-align: center;
}
.cvphototexts h1 {
  color: #ffca7a;
}
.cvphototexts h2 {
  color: aliceblue;
}
.cvphoto img {
  width: 250px;
  border-radius: 150px;
  border: yellow solid;
  border-width: 8px;
}
/* Cv page css ends here */
.content .card2 {
  width: 25%;
  position: absolute;
  top: 60%;
  left: 60%;
  background-color: #edeae0;
  box-shadow: #e91e63;
  border-radius: 25px;
}
.content .card2 h2 {
  text-align: center;
  color: #2c698d;
  margin-top: 10px;
}
.content .card2 h3 {
  color: #272643;
  margin-left: 10px;
  margin-top: 10px;
}
.meter {
  height: 10px;
  position: relative;
  border-radius: 25px;
  padding: 10px;
  width: 100%;
  margin-top: 10px;
}
.meter > span {
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(43, 194, 83);
  background-image: linear-gradient(
    center bottom,
    rgb(43, 194, 83) 37%,
    rgb(84, 240, 84) 69%
  );
  box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
    inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
}
.content .card1 {
  background-color: #edeae0;
  width: 45%;
  position: absolute;
  top: 60%;
  left: 4.5%;
  border-radius: 25px;
}
.content .card1 h1 {
  text-align: center;
  margin-top: 10px;
  color: #2c698d;
}
.content .card1 p {
  justify-content: center;
  padding: 2px;
  margin-left: 5px;
  margin-bottom: 10px;
}
.content .card3 {
  background-color: #edeae0;
  width: 100%;
  position: absolute;
  top: 110%;

  border-radius: 25px;
}
.content .card3 h1 {
  text-align: center;
  color: #2c698d;
}
.content .card3 h3 {
  margin-left: 10px;
}
.content .card3 p {
  margin-left: 11px;
}
.content .card4 {
  margin-top: 25px;
  /* background-color: skyblue; */
  width: 30%;
  position: absolute;
  top: 115%;
  left: 70%;
  border-radius: 25px;
}
.content .card4 h1 {
  color: #272643;
  margin-bottom: 15px;
}

.content .card4 img {
  margin-top: 15px;
  margin-left: 16px;
  width: 50px;
  align-items: row;
}
.content .card4 ul {
  list-style-type: none;
  display: inline;
  align-items: center;
}
.content .card4 li {
  display: inline;
}
.content .card4 li a {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 35px;
  text-decoration: none;
  text-align: center;
  margin-top: 15px;
  color: red;
  cursor: pointer;
  transition: 0.6s ease;
}
.content .card4 li a:hover {
  padding-left: 10px;
}
.blogmain .topic {
  position: absolute;
  top: 15%;
  left: 2%;
  background-color: #edeae0;
  width: 500px;
  max-height: 600px;
  margin-top: 15px;
  border-radius: 25px;
  height: 600px;
  box-shadow: 10px 10px grey;
  border: #f8aa4b solid 15px;
}
.blogmain .topic h1 {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 25px;
  text-shadow: 2px 2px 2px #000;
}
.blogmain .topic a {
  margin-top: 50px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  align-items: center;
  transition: 0.6 ease;
}
.blogmain .topic ul {
  list-style-type: none;
}
.blogmain .topic ul li {
  margin-top: 50px;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}
.blogmain .topic a:hover {
  color: #e91e63;
}
.blogcontent {
  background-color: white;
  position: absolute;
  top: 15%;
  left: 30%;
  border: #f8aa4b solid 15px;
  border-radius: 25px;
  height: 600px;
  width: 1000px;
  margin-top: 15px;
}
.blogcontent h2 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
}
.blogcontent p {
  padding: 5px;
  margin-left: 5px;
  justify-content: center;
  margin-top: 5px;
}
.authorblog {
  background-color: #edeae0;
  position: absolute;
  top: 15%;
  left: 85%;
  border: #f8aa4b solid 15px;
  border-radius: 25px;
  height: 600px;
  width: 250px;
  margin-top: 15px;
  box-shadow: 10px 10px grey;
}
.authorblog h1 {
  text-align: center;
  margin-top: 10px;
  text-shadow: 2px 2px 2px #000;
}
.authorblog h2 {
  margin-left: 15px;
  padding: 5px;
}
.authorblog p {
  padding: 5px;
  margin-bottom: 20px;
  text-align: center;
}
.authorblog img {
  margin-left: 75px;
  width: 100px;
  margin-bottom: 35px;
  margin-top: 25px;
  border: #ff1194 solid;
  border-radius: 100px;
}
